* {
  box-sizing: border-box;
}

body {
  background: radial-gradient(rgb(46, 45, 49) 51%, rgb(26, 23, 24) 89%);
  position: relative;
  height: 95vh;
}

.card-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  height: 80% !important;
  width: 40% !important;
  border-radius: 15px;
  display: flex;
  overflow: hidden !important;
  overflow-y: scroll !important;
}

.card {
  height: 100%;
  width: 100%;
}

.card-header {
  background-color: #D0D3D4 !important;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 16px;
}

.card-body {
  padding: 3vh;
  background-color: #ECF0F1 !important;
}

.drop-container {
  position: relative;
  display: flex;
  gap: 10px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 200px;
  padding: 20px;
  border-radius: 10px;
  border: 2px dashed #555;
  color: #444;
  cursor: pointer;
  transition: background .2s ease-in-out, border .2s ease-in-out;
}

  .drop-container:hover {
    background: #eee;
    border-color: #111;
  }

    .drop-container:hover .drop-title {
      color: #222;
    }

.drop-title {
  color: #444;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  transition: color .2s ease-in-out;
}

input[type=file] {
  width: 350px;
  max-width: 100%;
  color: #444;
  padding: 5px;
  background: #fff;
  border-radius: 10px;
  border: 1px solid #555;
}

  input[type=file]::file-selector-button {
    margin-right: 20px;
    border: none;
    background: #084cdf;
    border-radius: 10px;
    color: #fff;
    cursor: pointer;
    transition: background .2s ease-in-out;
  }

    input[type=file]::file-selector-button:hover {
      background: #084cdf;
    }
}
.carpi {
  font-size: 22px;
  color: red;
  cursor: pointer;
}

.icon-text {
  display: flex;
  justify-content: space-between;
  align-items: end;
  height: 12%;
}

.cardImage-bottomSide {
  padding: 5px;
}

.pickPhoto {
  cursor: pointer;
  border: 1px dashed black;
  width: 30%;
  height: 250px;
  padding: 0px;
  position: relative;
}

  .pickPhoto:hover {
    border: 2px solid black;
  }

.file_upload {
  cursor: pointer;
  opacity: 0.0;
  /* IE 8 */
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  /* IE 5-7 */
  filter: alpha(opacity=0);
  /* Netscape or and older firefox browsers */
  -moz-opacity: 0.0;
  /* older Safari browsers */
  -khtml-opacity: 0.0;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}
