@using EntityLayer;
@model Genre;

@{
    ViewData["Title"] = "Add";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="card">

    <div class="card-header">
        <h2>Genre Insert</h2>
    </div>

    <div class="card-body">
        @using (Html.BeginForm("Add", "Genre", FormMethod.Post, new { @class = "form-group" }))
        {
            @Html.Label("Genre Name")
            @Html.TextBoxFor(genre=>genre.GenreName,new { @class = "form-control"})
            @Html.ValidationMessageFor(genre=>genre.GenreName,"",new{@class="text-danger"})
            <br />


            @Html.Label("IsActive")
            <select class="form-control" name="IsActive">
                <option value="True">Aktif</option>
                <option value="False">Pasif</option>
            </select>
            <br />
            <input class="form-control btn btn-primary" type="submit" value="Insert" />
        }
    </div>
</div>