@using EntityLayer;
@using X.PagedList;
@model PagedList<Genre>;

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="card">

    <div class="card-header">
        <h2>Genres</h2>
    </div>

    <div class="card-body">
        <table class="table">
            <thead>
                <tr>
                    <th>Genre ID</th>
                    <th>Genre Name</th>
                    <th>IsActive</th>
                    <th> </th>
                    <th> </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.GenreId</td>
                        <td>@item.GenreName</td>
                        @if (item.IsActive)
                        {
                            <td>Aktif</td>
                        }
                        else
                        {
                            <td>Pasif</td>
                        }
                        <td>
                            <button type="button" class="btn btn-outline-danger  text-center" data-bs-whatever="@item.GenreId" data-bs-toggle="modal" data-bs-target="#decisionPopup"><ion-icon name="trash-outline"></ion-icon></button>
                        </td>
                        <td><a href="/Genre/Update/@item.GenreId" type="button" class="btn btn-outline-primary p-2">Update</a></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

@*EKLEME*@
<div class="text-center d-flex justify-content-start p-2">
    <a href="/Tag/Add" class="btn btn-success"><ion-icon name="add" style="font-size:30px"></ion-icon></a>
</div>

@*SAYFALAMA*@
<div style="position:relative;">
    <div id="Index-Page" style="position:absolute; top:50%; left:50%; transform:translate(-50%,-50%);">
        <partial name="PagingPartialView" model="@Model" />
    </div>
</div>

@*#decisionPopup Model*@
<div class="modal fade" id="decisionPopup" tabindex="=-1" aria-labelledby="DeleteLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title" id="DeleteLabel">WARNING!</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Are you sure you want to delete?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
                <a id="delete-btn" href="" class="btn btn-success">Yes</a>
            </div>
        </div>
    </div>
</div>

@*Delete*@
<script>
    $(document).ready(function () {
        $('#decisionPopup').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget);
            var GenreId = button.attr('data-bs-whatever');

            var a = document.querySelector("#delete-btn");
            a.href = "/Genre/Delete/" + GenreId;
        });
    });
</script>
