@using EntityLayer;
@model Genre;

@{
    ViewData["Title"] = "Update";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="card">
    <div class="card-header">
        <h2>Genre Update</h2>
    </div>

    <div class="card-body">
        @using (Html.BeginForm("Update", "Genre", FormMethod.Post, new { @class = "form-group" }))
        {
            @Html.TextBox("GenreId",Model.GenreId,new { @class = "form-control" ,@type="hidden"})
            @Html.Label("Genre Name")
            <select class="form-control" name="GenreName">
                @if (Model.GenreName == "Post")
                {
                    <option selected>Post</option>
                    <option>Story</option>
                    <option>Reels</option>
                }
                else if (Model.GenreName == "Story")
                {
                    <option>Post</option>
                    <option selected>Story</option>
                    <option>Reels</option>
                }
                else
                {
                    <option>Post</option>
                    <option>Story</option>
                    <option selected>Reels</option>
                }
            </select>
            <br />
            @Html.Label("IsActive")
            <select class="form-control" name="IsActive">
                @if (Model.IsActive)
                {
                    <option value="True" selected>Aktif</option>
                    <option value="False">Pasif</option>
                }
                else
                {
                    <option value="False" selected>Pasif</option>
                    <option value="True">Aktif</option>
                }
            </select>
            <br />

            <input class="form-control btn btn-primary" type="submit" value="Genre Update" />
        }
    </div>
</div>

