@using System.Security.Claims;
@using EntityLayer
@model Admin;
@{
	ViewData["Title"] = "Profile";
	Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="cardinho">

	@*Admin Name Start*@
	<div style="background-color: #000; height:600px;width:600px; border-radius:15px !important;">
		<div style="text-align:center;color:white;padding:20px;">
			<h3>@User.FindFirst(ClaimTypes.Name)?.Value </h3>
			<h6>@User.FindFirst(ClaimTypes.Actor)?.Value</h6>
		</div>
		@*Admin Name End*@

		@*Admin Image Start*@
		<div style="width: 250px;margin:auto;margin-top:-10px !important;">
			<img src="~/admin_images/@User.FindFirst(ClaimTypes.UserData)?.Value"
				 class="img-fluid img-thumbnail mt-4 mb-2"
				 style="width: 250px; z-index: 1;">			
		</div>
		@*Admin Image End*@

			<div style="background-color: #f8f9fa;color:black;text-align:center;padding-top:7px;padding-bottom:2px;margin-top:35px;">
				<p class="font-italic ">Web Developer</p>
				<p class="font-italic ">Lives in Turkey</p>
			</div>

		<a href="~/Admin/Update" class="btn btn-dark text-white" style="z-index: 1;margin-left:150px;width:300px;margin-top:30px;">Edit profile</a>
	</div>

		

	</div>
</div>