* {
  font-family: "SF Pro Display", sans-serif;
}

body {
  background-color: #f5f5f7;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

}

img {
  max-width: 100%;
  display: block;
}

.slide {
  position: relative;
  width:95vh;
  margin: 20px auto;
  display: grid;
  height: 95vh;
  padding: 00px 0;
  border-radius: 30px;
  overflow: hidden;
  border: 3px solid #f3ece4;
  outline: 1px solid #ccc;
  background-color: #000;
  box-shadow: 20px 20px 5px 0px rgba(0, 0, 0, 0.3);
}


.slide-items {
  position: relative;
  grid-area: 1/1;
  overflow: hidden;
  border: 6px solid #000;
  border-radius: 30px;
}

  .slide-items img {
    object-fit: cover;
    height: 100%;
    width: 100%;
  }

.slide-nav {
  grid-area: 1/1;
  z-index: 2;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto 1fr;
}

.slide-items > * {
  position: absolute;
  top: 0;
  opacity: 0;
  pointer-events: none;
}

.slide-items > .active {
  position: relative;
  opacity: 1;
  pointer-events: initial;
}

.slide-nav button {
  -webkit-appearance: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  opacity: 0;
}

.slide-thumb {
  display: flex;
  grid-column: 1/3;
  padding: 0 15px;
}

  .slide-thumb > span {
    flex: 1;
    display: block;
    height: 2px;
    background: #afafaf;
    margin: 3px;
    margin-top: 20px;
    border-radius: 3px;
    overflow: hidden;
  }

    .slide-thumb > span.done:after {
      content: "";
      display: block;
      height: inherit;
      background: rgba(255, 255, 255, 0.9);
      border-radius: 3px;
    }

    .slide-thumb > span.active:after {
      content: "";
      display: block;
      height: inherit;
      background: rgba(255, 255, 255, 0.9);
      border-radius: 3px;
      transform: translateX(-100%);
      animation: thumb 5s forwards linear;
    }

@keyframes thumb {
  to {
    transform: initial;
  }
}

